button
{
    width: 100px; 
    height: 101px;
    border: none;
    background-color: white;
}

table 
{
    border-collapse: collapse;
    margin-top: 10px;
}
  
th 
{
    background-color: red;
    color: white;
    padding: 10px;
    border: 1px solid black;
}
  
td 
{
    background-color: white;
    color: red;
    padding: 10px;
    border: 1px solid black;
}

.red-button 
{
    background-color: red;
    color: white;
    padding: 0px;
    border: 1px solid black;
    width: 150px; 
    height: 30px;
    margin: 0px;
}
  
.white-button 
{
    background-color: white;
    color: red;
    padding: 0px;
    border: 1px solid black;
    width: 304px; 
    height: 50px;
    margin: 0px;
}

.td-buttons 
{
    padding: 0px;
    text-align: center;
    border: 1px solid black;
    height: 50px;
}

.input-text
{
    border: 1px solid black;
    width: 144px;
    height: 26px; 
    margin: 0px;
}

.pagination 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
  
.prev-btn,
.next-btn 
{
    width: 70px;
    height: 50px;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
.page-num 
{
    font-size: 18px;
    font-weight: bold;
}
  
.page-size 
{
    margin-left: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}